<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/commande.css">
    <title>Commande</title>
</head>
<body>
    <header>
        <div class="heade">
            <div class="logo">
                <a href="/">Djassa Online</a>
            </div>
            <nav>
                <ul>
                    <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                    <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/connexion"><i class="fas fa-user"></i></a></li>
                    <li><a href="/detail"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="container-content">
            <div class="info-user">
                <div class="text">
                    <p>FINALISATION DE LA COMMANDE</p>
                </div>
                <div class="user">
                    <div class="user-header">
                        <p>1.INFORMATIONS PERSONNELLES</p>
                    </div>
                    <div class="trait_dessus"></div>
                    <div class="user-body">
                        <p>Mohamed Kionou</p>
                        <span>kionoumamadou.00@gmail.com</span> <br>
                        <span>+225 57408303</span>
                    </div>
                </div>
                <form action="">
                    <div class="adresse">
                        <div class="user-header">
                            <p>2.ADRESSE</p>
                        </div>
                        <div class="trait_dessus"></div>
                        <div class="adresse-body">

                            <div class="form-control">
                                <label for="ville"> Ville</label>
                                <input type="text" name="ville" id="">
                            </div>
                            <div class="form-control">
                                <label for="commune"> Commune</label>
                                <input type="text" name="commune" id="">
                            </div>
                            <div class="form-control">
                                <label for="numero"> Numero</label>
                                <input type="number" name="numero" id="">
                            </div>
                        </div>
                    </div>
                    <div class="livraison">
                        <div class="user-header">
                            <p>3.MODE DE LIVRAISON</p>
                        </div>
                        <div class="trait_dessus"></div>
                        <div class="livraison-content">
                           <div class="livraison-contente">
                                <div>
                                    <input type="radio" name="livraison" value="boutique">
                                    <label for="">Point de relais</label>
                                </div>
                                <div>
                                    <p>Retrait en Boutique</p>
                                </div>
                                <div>
                                    <p>500 F CFA</p>
                                </div>
                           </div>
                            <div class="livraison-contente">
                                <div>
                                    <input type="radio" name="livraison" value="abidjan">
                                    <label for="">Livraison Abidjan</label>
                                </div>
                                <div>
                                    <p>Livraison en 24h</p>
                                </div>
                                <div>
                                    <p>1.500 F CFA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paiement">
                        <div class="user-header">
                            <p>4.PAIEMENT</p>
                        </div>
                    <div class="trait_dessus"></div>
                    <div class="form">
                        <input type="radio" name="paiement" value="cash">
                        <label for="">Payer cash à la livraison</label>
                    </div>
                    <div class="form">
                        <input type="radio" name="paiement" value="money">
                        <label for="">Payer avec Mobile Money</label>
                    </div>
                    </div>
                    <div class="boutton">
                    <button  class="ajouter"><a href="#">VALIDER LA COMMANDE</a></button>
                    </div>

                </form>
               
            </div>
            <div class="factures">
                <div class="text">
                    <p>RÉSUMÉ</p>
                </div>
                <div class="factures-content">
                    <div class="facture">
                        <div class="titre">
                            <p>VOTRE COMMANDE</p>
                        </div>
                        <div class="trait_dessus"></div>
                        <div class="article">
                            <div class="article-content">
                                <p>2 articles</p>
                                <span>0 F CFA</span>
                            </div>
                            <div class="article-content">
                                <p>Sous-total</p>
                                <span>100.000 F CFA</span>
                            </div>
                            <div class="article-content">
                                <p>Livraison</p>
                                <span>1.500 F CFA</span>
                            </div>
                           
                        </div>
                        <div class="trait_dessus"></div>
                        <div class="total">
                            <div class="total1">
                                <p>Total (HT)</p>
                                <span>0 F CFA</span>
                            </div>
                            <div class="total1">
                                <p>Taxes</p>
                                <span>0 F CFA</span>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>



    <script src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/detail.js"></script>
</body>
</html>