<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/connexion.css">
    <title>Connexion</title>
</head>
<body>
    <header>
        <div class="heade">
            <div class="logo">
             <a href="/">Djassa Online</a>
            </div>
            <nav>
                <ul>
                    <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                    <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/connexion"><i class="fas fa-user"></i></a></li>
                    <li><a href="/panier"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="ImageHeader">
        <div class="container">
                    <div class="texte">
                        <h2>CONNEXION</h2>
                    </div>
                    <form action="/connexion  " method="post">

                    <div class="input-form">
                        <input type="email" class="input" name="email" placeholder=" ">
                        <label for="email">Adresse Email</label>
                        <!-- <p>fffliojdhidaaa</p> -->
                    </div>
                    <div class="input-form">
                        <input type="password" class="input" name="password" placeholder=" ">
                        <label for="password">Mot de passe</label>
                        <!-- <p>fdqgfgfg</p> -->
                    </div>
                    <div class="mot-passe">
                    <a href="#">Mot de passe oublié ?</a>
                    </div>
                    <button type="submit" value="Submit">Connecter</button>
                    </form>
                    <div class="texte">
                        <p>Vous aviez pas de compte? <a class="sanp" href="/inscription"><span>Cliquer ici</span></a></p>
                    </div>
        </div>
    </div>




    <script src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>