<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <title>Detail</title>
</head>
<body>
    <header>
        <div class="heade">
            <div class="logo">
                <p>Djassa Online</p>
            </div>
            <nav>
                <ul>
                    <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                    <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="detail">
            <div class="detail-image">
                <img src="/images/7.webp" alt="">
            </div>
            <div class="detail-content"></div>
        </div>
    </div>

    <script  src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/detail.js"></script>

</body>
</html>