<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
        <div class="heade">
            <div class="logo">
            <a href="/">Djassa Online</a>
            </div>
            <nav>
                <ul>
                    <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                    <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/connexion"><i class="fas fa-user"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-slick">
        <div class="content-slick">
            <div class="img-div div1"></div>
            <div class="img-div div2"></div>
            <div class="img-div div3"></div>
        </div>
    </div>

     <div class="container-cathegorie">
        <div class="content">
            <div class="text"><span> CATHEGORIES</span></div>
            <div class="cathegorie-article">
                <div class="cathegorie-content">     
                    <!-- bon -->
                    <a href="/cathegorie">
                        <div class="cadre-cathegorie">
                            <p>Samsung</p>
                        </div>
                    </a>
                    <!-- bon -->

                    <a href="#">
                        <div class="cadre-cathegorie">
                            <p>Samsung</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="cadre-cathegorie">
                            <p>Samsung</p>
                        </div>
                    </a>
                    <a href="/cathegorie">
                        <div class="cadre-cathegorie">
                            <p>Samsung</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="cadre-cathegorie">
                            <p>Samsung</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="cadre-cathegorie">
                            <p>Samsung</p>
                        </div>
                    </a>
                    
                </div>
            </div>
             <div class="trait_dessus"></div>
            <div class="article iphone">
                <div class="text"><span> IPHONE</span></div>
               
                <div class="container-cadre">
                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/2.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>
                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/3.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/2.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/3.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>
                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                </div>
            </div>
           
            <div class="article samsung">
                <div class="text"><span> Samsung</span></div>
               
                <div class="container-cadre">
                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/2.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>
                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/3.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/2.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/3.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>
                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                    <div class="cadre">
                        <div class="cadre-image">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="cadre-body">
                            <p>iphone 6 plus </p>
                            <p>100.000 F CFA</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
     </div>


    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script  src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>