<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/panier.css">
    <title>Panier</title>
</head>
<body>
    <header>
        <div class="heade">
            <div class="logo">
             <a href="/">Djassa Online</a>
            </div>
            <nav>
                <ul>
                    <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                    <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/connexion"><i class="fas fa-user"></i></a></li>
                    <li><a href="/panier"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
      <div class="container-contente">
            <div class="container-content">
                <div class="panier">
                   
                     </div> 
<!-- 
                            <div class="panier-content">
                                <div class="detail">
                                    <div class="image">
                                        <img src="/images/4.webp" alt="">
                                    </div>
                                    <div class="nomBien">
                                        <p>Apple IPhone 6 - 4.7" -4G - 16Go - 1Go</p>
                                        <div class="supp">
                                            <button  class="" ><i class="fas fa-trash"></i> supprimer</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="prix">
                                    <p>100.000 F CFA</p>
                                    <div class="quantite">
                                        <button id="decrement" onclick=""> - </button>
                                        <input type="number" min="0" max="100"  step="5" value="2" id="my-input" readonly>
                                        <button id="increment" onclick=""> + </button>
                                    </div>
                                </div>
                            </div>
                            <div class="panier-content">
                                <div class="detail">
                                    <div class="image">
                                        <img src="/images/4.webp" alt="">
                                    </div>
                                    <div class="nomBien">
                                        <p>Apple IPhone 6 - 4.7" -4G - 16Go - 1Go</p>
                                        <div class="supp">
                                            <button  class="" ><i class="fas fa-trash"></i> supprimer</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="prix">
                                    <p>100.000 F CFA</p>
                                    <div class="quantite">
                                        <button id="decrement" onclick=""> - </button>
                                        <input type="number" min="0" max="100"  step="5" value="2" id="my-input" readonly>
                                        <button id="increment" onclick=""> + </button>
                                    </div>
                                </div>
                            </div>  -->
                </div>
                <div class="factures">
                    <div class="facture">
                        <div class="titre">
                            <p>RESUMER DU PANIER</p>
                        </div>
                        <div class="trait_dessus"></div>
                        <div class="article">
                            <p id="article"><span> 01</span> articles</p>
                            <span class="prix_article"> </span>F CFA
                        </div>
                        <div class="trait_dessus"></div>
                        <div class="total">
                            <div class="total1">
                                <p>Total (HT)</p>
                                <span> F CFA</span>
                            </div>
                            <div class="total1">
                                <p>Taxes</p>
                                <span>0 F CFA</span>
                            </div>
                        </div>
                        <div class="trait_dessus"></div>
                        <div class="cmd">
                            <a href="/commande">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
      </div> 
    </div>
  <% success.forEach(function(article){ %>
    <div class="modal-container" id="modal">
        <div class="modal">
            <!-- <i class="fas fa-heart"></i> -->
            <p>Voulez-vous vraiment supprimer cet article du panier?</p>
            <div class="boutton">
                <button class="btnredirect" onclick="non('<%= article.id %>')">Non</button>
                <button  onclick="supp('<%= article.id %>')" class="btnredirect" >Oui</button>
    
            </div>
            <i id="closer" class="fas fa-times"></i>
        </div>
    </div>
  <% }); %>
    <script src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/panier.js"></script>
</body>
</html>