<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/connexion.css">
    <title>Message Password</title>
</head>

<body>
    <header>
        <div class="heade">
            <div class="logo">
                <a href="/">Djassa Online</a>
            </div>
            <nav>
                <ul>
                    <li><input class="inputsearch" type="text" name="search" placeholder="Recherchez"></li>
                    <li><a class="search" href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/connexion"><i class="fas fa-user"></i></a></li>
                    <li><a href="/panier"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="ImageHeader">
        <div class="container">
           <form action="">
               <input id="input" type="password" name="">
               <input id="input" type="password">
               <button>envoyer</button>
           </form>
        </div>


    </div>




    <script src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="/js/inscription.js"></script>
</body>

</html>