@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Serif', serif;
    background-color: #f5f5f5;   
}

/* header debut */
header {
    width: 100%;
    height: 100px;
    background-color: rgb(23, 194, 190);
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
}

.heade {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 8px;
}

.logo a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.heade nav ul {
    list-style: none;
    display: flex;
}

.heade nav ul li {
    margin: 0 1rem;
}

.heade nav ul li a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #fff;
}

.icon {
    font-size: 28px;
    margin-right: 10px;
    color: #fff;
    display: none;
}

.inputsearch {
    width: 357px;
    height: 2.5rem;
    padding: 5px;
    display: none;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto Serif', serif;
    font-size: 16px;
}

.inputsearch:focus {
    outline: none;
}

.search {
    display: block;
}

/* header fin */

/* container debut */
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    flex-direction: column;
}
/* cathegorie debut */
.cathegorie{
    width: 80%;
    height: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
/* cathegorie-header debut */

.cathegorie-header{
    width: 100%;
    height: auto;
}

.header-content{
    width: 100%;
    padding: 10px;
    font-size: 23px;
}
.header-content p {
    font-weight: bolder;
}

.header-content p span{
    font-family: 'Roboto Serif', serif;
    font-weight: 100;
}

.trait_dessus{
    border-top: 1px solid rgb(23, 194, 190);
    width : 100%;
}

.result{
    width: 100%;
    padding: 10px;
    font-size: 23px;
}
.result p  {
    font-weight: bolder;
}
.result p span{
    font-family: 'Roboto Serif', serif;
    font-weight: 100;
}
/* cathegorie-header fin */


/* cathegorie-content debut */
.cathegorie-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.content-card{
    width: 250px;
    height: 410px;
    border: 1px solid rgb(23, 194, 190);
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.content-card:hover{
   border: none;
   padding: 3px;
   background-color:hsl(240deg 7% 97%) ; 
}

.card-image{
    width: 100%;
    height: 240px;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.card-body{
    width: 100%;
    height: 170px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body p{
    font-family: 'Roboto Serif', serif;
    font-size: 18px;
}
.card-body a{
    text-decoration: none;
}

.btndetail{
    width: 7rem;
    height: 2.5rem;
    margin-top: 10px;
    text-align: center;
    border: none;
    background-color: rgb(23, 194, 190);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    padding: 4px 0;
}

.btndetail:hover{
    background-color:hsl(240deg 7% 97%) ; 
    color: rgb(23, 194, 190);
    border: 1px solid rgb(23, 194, 190);
    cursor: pointer;
}

.content-card.hide{
	display: none;
}
.content-card.show{
	display: block;
	animation: show .5s ease;
}
@keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    }
    100%{
    	opacity:1;
    	transform: scale(1);
    }
}
.noresult{
    width: 220px;
    border: 1px solid rgb(23, 194, 190);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: hsl(240deg 7% 97%);
}
.pagination{
    display: flex;
    width: 100%;
   /* border: 1px solid red; */
   align-items: center;
    justify-content: center;
}
.prev,.next{
    width: 62px;
    height: 38px;
    border: none;
    background-color: rgb(23, 194, 190);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.prev:hover,.next:hover{
    background-color:hsl(240deg 7% 97%) ; 
    color: rgb(23, 194, 190);
    border: 1px solid rgb(23, 194, 190);
    cursor: pointer; 
}
.page{
    padding: 0 10px;
}
/* cathegorie-content fin */
/* cathegorie fin */
/* container fin */