@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto Serif', serif;
    background-color: #f5f5f5;
}

/* header debut */
header{
    width: 100%;
    height: 100px;
    background-color: rgb(23, 194, 190);
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    margin-bottom: 60px;
    font-family: 'Kaushan Script', cursive;
}

.heade{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 8px;

}
.logo a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.heade nav ul{
    list-style: none;
    display: flex;
}

.heade nav ul li{
    margin: 0 1rem;
}
.heade nav ul li a{
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #fff;
}

.icon{
    font-size: 28px;
    margin-right: 10px;
    color: #fff;
    display: none;
}
.inputsearch{
    width: 357px;
    height: 2.5rem;
    padding: 5px;
    display: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Roboto Serif', serif;
}

.inputsearch:focus{
    outline: none;
}

.search{
    display: block;
}

/* header fin */

/* container debut */

.container{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* detail debut */

.detail{
    width: 70%;
    height: 600px;
    padding: 30px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin-bottom: 30px;
}

.detail-image{
    width: 574px;
    height: 527px;
}

.detail-image img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.detail-content{
    width: 60%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;

}

.detail-content p {
    font-weight: bolder;
}
.detail-content span{
    font-family: 'Roboto Serif', serif;
    font-weight: 100;
    font-size: 20px;
}

.prix{
    width: 100%;
    height: 200px;
    border: 1px solid rgb(23, 194, 190);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px !important;
    padding: 10px;
    margin-top: 70px;
    border-radius: 5px;
    font-weight: 100;
}


.quantite{
    display: flex;
    margin-bottom: 25px;
}

#decrement , #increment{
    width: 30px;
    height: 30px;
    background-color: rgb(23, 194, 190);
    color: white;
    font-size: 23px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    font-family: 'Roboto Serif', serif;
}

#decrement:hover{
    background-color: white;
    color: rgb(23, 194, 190);
    border: 1px solid rgb(23, 194, 190);
    cursor: pointer;
}

#increment:hover{
    background-color: white;
    color: rgb(23, 194, 190);
    border: 1px solid rgb(23, 194, 190);
    cursor: pointer; 
}

#input{

    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    font-family: 'Roboto Serif', serif;
}
.ajouter{
    width: 21rem;
    height: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    background-color: rgb(23, 194, 190);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
} 


.ajouter:hover {
    background-color: white;
    color: rgb(23, 194, 190);
    border: 1px solid rgb(23, 194, 190);
    cursor: pointer;
}


/* detail fin */

/* description debut */
.description{
    width: 70%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    border-radius: 5px;

}

.trait_dessus{
    margin-top: 10px;
    border-top: 1px solid rgb(23, 194, 190);
    width : 100%;
}

.liste{
    width: 100%;
    height: auto;
    padding: 18px;
}
.liste-content{
    width: 100%;
    height: auto;
    border: 1px solid rgb(23, 194, 190);
    display: flex;
    font-size: 22px;
}
.liste-left{
    width: 50%;
    height: 100%; 
    padding: 10px;
    /* border-right: 1px solid rgb(23, 194, 190); */
}
.trait_horizontal {
    border-right: 1px solid rgb(23, 194, 190);
    /* height: 100%; */
}

.liste-right{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.liste li{
   list-style: none;
   margin-bottom: 10px;
    font-weight: bolder;
}

.liste li span {
    font-weight: 100;
    font-size: 20px;
}

#texte{
    font-size: 22px;
    margin-left: 18px;
}

/* descriptiuon fin */

/* container fin */

@media (max-width :1160px){

    .detail-content{
        font-size: 20px;
        padding: 26px;
    }

    .ajouter{
        width: 16rem;
    }

   
    /* .liste-left{
        border-right: none;
    }

    .liste-right {
       
        border-left: 1px solid rgb(23, 194, 190);
    } */
}

@media (max-width :950px) {

    .detail{
        width: 86%;
    }

    .description {
     width: 86%;
    }
}

@media (max-width :768px) {

    .detail {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .detail-image{
        width: 100%;
    }

    .detail-content{
        width: 100%;
    }

    .prix{
        font-size: 16px !important;
    } 
}

@media (max-width :752px) {

    .description {
        width: 100%;
    }
}

@media (max-width :656px) {

    .liste-content{
        flex-direction: column;
        align-items: center;
    }

    .description {
        height: auto;
        width: 100%;
    }

    /* .liste-right {
    
        border-left: none;
    } */

    #texte{
        text-align: center;
    }
}

@media (max-width :463px) {

    .detail-content {
        font-size: 17px;
    }

    .prix{
        margin-top: 23px;
        height: 174px;
        border: none;
    }

   .ajouter{
       width: 12rem;
       font-size: 16px;
   }

}