@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Kaushan+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kaushan Script', cursive;
    background-color: #f5f5f5;
}

/* header debut */
header {
    width: 100%;
    height: 100px;
    background-color: rgb(23, 194, 190);
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    margin-bottom: 60px;
}

.heade {
    width: 80%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 8px;
    color: #fff;
}

.logo a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.heade nav ul {
    list-style: none;
    display: flex;
}

.heade nav ul li {
    margin: 0 1rem;
}

.heade nav ul li a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #fff;
}

.icon {
    font-size: 28px;
    margin-right: 10px;
    color: #fff;
    display: none;

}

.inputsearch {
    width: 357px;
    height: 2.5rem;
    padding: 5px;
    display: none;
    border-radius: 5px;
    border: none;
    font-family: cursive;
    font-size: 16px;
}



.inputsearch:focus {
    outline: none;
}

.search {
    display: block;
}

/* header fin */

/* slick debut */
.container-slick{
    margin-top: 10px;
    width: 100%;
    height: 83vh;
    /* border: 1px solid red; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.content-slick{
    margin-top: 10px;
    width: 80%;
    height: 80vh;
    /* border: 1px solid blue; */
    
}

.img-div {
    width: 100%;
    height: 100%;
   
}
.div1 {
    background: url('/images/1.jpg') center no-repeat;
    background-size: cover;
    height: 80vh;
  }
  
  .div2 {
    background: url('/images/2.jpg') center no-repeat;
    background-size: cover;
    height: 80vh;
  }
  
  .div3 {
    background: url('/images/3.jpg') center no-repeat;
    background-size: cover;
    height: 80vh;
  }

  .slick-prev:before , .slick-next:before {
    color: black;
}
/* slick fin */


/* cathegorie debut */

.cathegorie-article{
    width: 100%;
    height: auto;
    /* border: 1px solid rgb(23, 194, 190); */
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 15px;
    background-color: #fff;
    
}

.cathegorie-content{
    width: 100%;
    height: auto;
    /* border: 1px solid rgb(15, 174, 52); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;

}

.cathegorie-content a{
    text-decoration: none;
    color: rgb(23, 194, 190);
    
}


.cadre-cathegorie{
    width: 194px;
    height: 84px;
    border: 1px solid #e5e5e5;
    display: flex;
    margin-right: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 5px;
    border: 1px solid rgb(23, 194, 190);
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}

.cadre-cathegorie:hover{
    background-color: rgb(23, 194, 190);
    color: #fff;
    border: 1px solid #fff;
}

 .cathegorie-image{
    width: 240px;
    height: 100%;
     border-right: 1px solid #e5e5e5;
    padding: 3px;
} 
.cathegorie-texte{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
}


.cathegorie-image img{
    width: 100%;
    height: 100%;
   
} 

.btnCathegorie{
    width: 7rem;
    height: 3rem;
    color: white;
    font-size: 21px;
    background-color: rgb(23, 194, 190);
    border: none;
    border-radius: 10px;
}

.btnCathegorie:hover{
    background-color: white;
    border: 1px solid rgb(23, 194, 190);
    color: rgb(23, 194, 190);
    cursor: pointer;
} 





/* cathegorie fin */



/* article debut */

.container-cathegorie{
    margin-top: 30px;
    width: 100%;
    height: auto;
    border: 1px solid red;
    display: flex;
    align-content: center;
    justify-content: center;
}

.content{
    margin-top: 10px;
    width: 80%;
    height: auto;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.article{
    margin-top: 60px;
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    
}

.article:hover{
    -webkit-box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.11);
    border: 1px solid rgb(23, 194, 190);
    border-radius: 10px;
}  


.trait_dessus
{
    margin-top: 80px;
    border-top: 1px solid #e5e5e5;
    width : 100%;
}

.container-cadre{
    width: 95%;
    height: auto;
    /* border: 1px solid rgb(15, 174, 52); */
    display: flex;

}
.cadre{
    width: 400px !important;
    height: 450.34px;
    border: 1px solid #e5e5e5;
    margin-left: 10px;
}
.cadre-image{
    width: 100%;
    height: 80%;
    /* border: 1px solid rgb(2, 2, 124); */
    padding: 5px;

}

.cadre-image img{
    width: 100%;
    height: 100%;
}
.cadre-body{
    width: 100%;
    height: 93.34px;
    border-top: 1px solid #e5e5e5;
    padding-top: 18px;
    font-size: 21px;
    text-align: center;

}


.text{
    margin-bottom: 20px;
    font-size: 32px;
}

/* article fin */


@media (max-width :580px) {

    .detail-content {
        font-size: 17px;
    }

    .prix {
        margin-top: 23px;
        height: 174px;
        border: none;
    }

    .ajouter {
        width: 12rem;
        font-size: 16px;
    }


}